{% extends 'base.html' %}

{% block content %}

<h1>New Maintenance Collection</h1>

<form method="post" class="panel">

    <label>Select Unit</label>

    <select name="unit" id="unit" required>
        <option value="">Select Unit</option>

        {% for r in residents %}
        <option
            value="{{ r.UnitNo }}"
            data-owner="{{ r.OwnerName }}"
            data-mobile="{{ r.MobileNo }}"
            data-monthly="{{ r.MonthlyAmount }}"
        >
            {{ r.UnitNo }} - {{ r.OwnerName }}
        </option>
        {% endfor %}
    </select>

    <div class="info-box" id="residentInfo">

        <p><strong>Owner Name:</strong>
            <span id="ownerName">-</span>
        </p>

        <p><strong>Mobile Number:</strong>
            <span id="mobileNo">-</span>
        </
